<div class="loginForm">
    <form fxLayout="column" fxLayoutAlign="center center" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <mat-form-field>
          <input 
            type="email" 
            matInput 
            placeholder="Your email" 
            ngModel 
            name="email"
            email
            required>
      </mat-form-field>
      <mat-form-field>
          <input 
            type="password" 
            matInput 
            placeholder="Your password" 
            ngModel 
            name="password"
            required
            minlength="6">
          <mat-hint>Minimum at least 6 characters</mat-hint>
      </mat-form-field>
      <br>
      <br>
      <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </div>
  